body, html {
    height: 100%;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6, span, li, textarea, input, button {
    font-family: Roboto, Arial, sans-serif;
}

input, textarea {
    font-size: 15px;
}

.bg-image-body {
    background-image: url("images/forrest.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.card-outline {
    display: inline-block;
    height: 80%;
    width: 350px;
    margin-top: 5%;
    box-shadow: 5px 5px 50px #6d6d6d;
    background-color: #f2f2f2;
}

.profile-picture {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hr-divider {
    width: 90%;
    color: #888888;
}

.name {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 15px;
}

.job-title {
    font-size: 17px;
    margin: 0;
}

.justify-icons {
    display: flex;
    justify-content: space-around;
}

.clickable-icon {
    border-radius: 50%;
    color: #888888;
}

.contact-title {
    font-size: 17px;
}

.send-form {
    text-align: center;
    padding: 0 20px 0 20px;
}

.email-input {
    display: inline-block;
    width: 200px;
}

.email-input, .message-input {
    width: 90%;
    margin: 5px 0 5px 0;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.message-input {
    resize: none;
    height: 75px;
}

.send-button {
    display: inline-block;
    color: #777777;
    background-color: #f2f2f2;
    padding: 10px 20px;
    border: 1px solid #777777;
    box-shadow: none;
    cursor: pointer;
}