body, html {
    height: 100%;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6, span, li, textarea, input, button {
    font-family: Roboto, Arial, sans-serif;
}

.bg-image-body {
    background-image: url("images/forrest.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.card-outline {
    display: inline-block;
    height: 90%;
    width: 350px;
    margin-top: 10%;
    box-shadow: 5px 10px 50px #777777;
    background-color: #f2f2f2;
}

.profile-picture {
    margin-top: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hr-divider {
    width: 90%;
    color: #888888;
}

.name {
    font-size: 15px;
    margin-bottom: 0;
}

.job-title {
    font-size: 12px;
    margin: 0;
}

.justify-icons {
    display: flex;
    justify-content: space-around;
}

.clickable-icon {
    border-radius: 50%;
    color: #888888;
}

.send-form {
    text-align: center;
}

.email-input {
    display: inline-block;
    margin: 5px 100px 5px 100px;
}

.message-input {
    display: inline-block;
    margin: 5px 100px 5px 100px;
}

.send-button {
    display: inline-block;
    color: #f2f2f2;
    background-color: #f2f2f2;
    padding: 10px 20px;
    border: 2px solid #888888;
    box-shadow: none;
}